[project]
name = "superpathlib"
version = "1.1.8"
description = "Extended Pathlib"
authors = [{name = "Quinten Roets", email = "qdr2104@columbia.edu"}]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.10"

[project.urls]
"Source Code" = "https://github.com/quintenroets/superpathlib"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "build",
    "twine"
]
test = [
    "hypothesis",
    "numpy",
    "pytest",
    "PyYaml"
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.ruff]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "UP",  # pyupgrade
]
fix = true

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]
