[project]
name = "superpathlib"
version = "1.3.11"
description = "Extended Pathlib"
authors = [{name = "Quinten Roets", email = "qdr2104@columbia.edu"}]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "simple-classproperty"
]

[project.urls]
"Source Code" = "https://github.com/quintenroets/superpathlib"

[project.optional-dependencies]
dev = [
    "bump2version",
    "pre-commit",
    "types-PyYAML"
]

full = [
    "dirhash",
    "numpy",
    "pytest",
    "PyYaml",
    "xattr",
]

test = [
    "dirhash",
    "hypothesis",
    "numpy",
    "pytest",
    "PyYaml",
    "xattr",
]

[tool.setuptools.package-data]
plib = ["py.typed"]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.ruff]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "UP",  # pyupgrade
]
fix = true

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]
